*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: #FFFFFF;
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
